body{
    background: #efefef;
}

.main{
    margin: 30px;
    background: white;
}

.btn_publish{
    float: right;
    margin-bottom: 15px;
}
.my-img{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}